{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"semi": false,
	"printWidth": 100,
	"singleAttributePerLine": true,
	"plugins": ["prettier-plugin-svelte"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
